<link rel="stylesheet" type="text/css" href="css/angular-carousel.css">

<div class="col-md-10 col-md-offset-1">
  <ul rn-carousel  rn-carousel-index="4" rn-carousel-auto-slide rn-carousel-transition="hexagon" >
    <li ng-repeat="item in carouselCtrl.list">      
      <a ui-sref="movieDetails({movieId : item.id})">
          <div ng-style="{ 'background-image' : 'url(http://image.tmdb.org/t/p/original/' + item.poster_path +')'}"  class="bgimage">
          <!-- add if poster replacement -->
            <div class="carousel-snippet">
              <h2>{{item.title}}</h2>
              <stars-rating 
                rating="item.vote_average"
                ng-if="item.status !=='Planned'">         
              </stars-rating>            
            </div>
          </div>
        </a>
    </li>    
  </ul>
</div>