<div class="navbar navbar-fixed-top navbar-background z-depth-1">

	<div class="container navbar-color">		

		<div class="navbar-header navbar-background">

			<button class="navbar-toggle" data-toggle="collapse" datatarget=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>				

			<a class="navbar-brand" href="#">
				<span class="glyphicon glyphicon-film"></span> OMDb
			</a>		

			<search-bar></search-bar>				
			
			<!-- ********** SOCIAL ICONS ********** -->
			<div class="navbar-right social-icons hidden-xs hidden-sm">
				<a href="https://www.facebook.com/themoviedb/" target="_blank" class="social-link" title="Check out our Facebook page">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-facebook fa-stack-1x fa-inverse scheme-color-2"></i>
					</span>
				</a>
				<a href="https://twitter.com/themoviedb?lang=en" target="_blank" class="social-link" title="Follow us on Twitter">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-twitter fa-stack-1x fa-inverse scheme-color-2"></i>
					</span>
				</a>
				<a href="https://www.instagram.com/?hl=en" target="_blank" class="social-link" title="Vist our Instagram page">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-instagram fa-stack-1x fa-inverse scheme-color-2"></i>
					</span>
				</a>
			</div>	
		<!-- ********** SOCIAL ICONS END ********** -->
		</div>		
		<!-- DISCOVER BUTTON -->
		<div class="row">	
			<discover-movies genres="homeCtrl.genres"></discover-movies>
		</div>


		<!-- <div class="navbar-collapse collapse">

			<ul class="nav navbar-nav">

				<li class="active"><a href="#">Movies</a></li>
				<li><a href="#">Somthing</a></li>
				<li><a href="#">News</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Help</a></li>

			</ul>

			<form class="navbar-form navbar-right">
           	
           		<div class="form-group">
              
	              <div class="input-group">
		              <span class="input-group-addon">@</span>

		              <input type="text" placeholder="Email" class="form-control loginInput">
	              </div>
	          
				<div class="input-group">

		            <span class="input-group-addon"><span class="glyphicon glyphicon-star"></span></span>

		            <input type="password" placeholder="Password" class="form-control loginInput">

	            </div>
	            
	            <button type="submit" class="btn btn-success">Sign in</button>

            	</div>

          	</form>

		</div> --> <!-- navbar collapse end -->

		<!-- <div class="clear"></div>
		<br/> -->

				


	
	</div>
</div> <!-- end of navbar -->